<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intervencija</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="Common/Header :: header"></header>
<div class="container mt-5">
    <h1 class="text-center">Intervencija</h1>
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary">Prethodni</button>
        <button class="btn btn-primary">Sljedeći</button>
    </div>

    <form action="#" method="post" th:action="@{'/intervencija/'+${intervencija.intervencijaid}}" th:object="${intervencija}">
        <div class="form-group">
            <label for="datumVrijeme">Datum i vrijeme</label>
            <input type="datetime-local" class="form-control" id="datumVrijeme" th:field="${intervencija.datvr}"/>
        </div>

        <div class="form-group">
            <label for="opis">Opis</label>
            <textarea class="form-control" id="opis" rows="3" th:field="${intervencija.opis}"></textarea>
        </div>
        <div class="form-group">
            <label for="grad">Grad</label>
            <input type="text" class="form-control" id="grad" th:field="${intervencija.adresaid.grad}">
        </div>
        <div class="form-group">
            <label for="postanskiBroj">Poštanski broj</label>
            <input type="number" class="form-control" id="postanskiBroj" th:field="${intervencija.adresaid.pbroj}">
        </div>
        <div class="form-group">
            <label for="naziv">Naziv</label>
            <input type="text" class="form-control" id="naziv" th:field="${intervencija.adresaid.naziv}">
        </div>
        <div class="form-group">
            <label for="centar">Centar</label>
            <select class="form-control" id="centar">
                <th:block th:each="centar : ${centri}">
                    <option th:if="${centar != null && intervencija.centar != null && centar.centarid == intervencija.centar.centarid}" th:value="${centar.centarid}" th:text="@{'Dispečerski Centar '+${centar.centarid}}" selected/>
                    <option th:unless="${centar != null && intervencija.centar != null && centar.centarid == intervencija.centar.centarid}" th:value="${centar.centarid}" th:text="@{'Dispečerski Centar '+${centar.centarid}}"/>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label for="vozilo">Vozilo</label>
            <select class="form-control" id="vozilo" multiple>
                <th:block th:each="vozilo : ${vozila}">
                    <option th:value="${vozilo.registracija}" th:text="${vozilo}"/>
                </th:block>
            </select>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-success">Spremi</button>
            <button type="reset" class="btn btn-danger">Obriši</button>
        </div>

        <hr style="margin-top: 20px; ">
    </form>

    <h2 class="text-center">Izvještaji</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">rbr</th>
            <th scope="col">Sadržaj</th>
            <th scope="col">Datum i vrijeme</th>
            <th scope="col">Popunio</th>
            <th scope="col">Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="izvjestaj : ${izvjestaji}">
            <th scope="row" th:text="${izvjestaj.izvjestajid}"/>
            <td th:text="${izvjestaj.sadrzaj}"/>
            <td th:text="${#dates.format(izvjestaj.datvr, 'dd.MM.yyyy HH:mm')}"/>
            <td th:text="${izvjestaj.clanhitnesluzbe}"/>
            <td>
                <button class="btn btn-primary">Uredi</button>
                <button class="btn btn-danger">Obriši</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>