<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Centar</h1>
    <!--<div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary">Prethodni</button>
        <button class="btn btn-primary">Sljedeći</button>
    </div> -->

    <form>
        <div class="form-group">
            <label for="broj">Broj</label>
            <input type="text" class="form-control" id="broj">
        </div>
        <div class="form-group">
            <label for="kapacitet">Kapacitet</label>
            <input type="number" class="form-control" id="kapacitet" min=0>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-success">Spremi</button>
            <button type="reset" class="btn btn-danger">Obriši</button>
        </div>
    </form>

    <hr style="margin-top: 20px; ">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
